{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file licence.md that was distributed with this source code.
 *}

{var $title = $page->getPageTitle()}

{block content}

{form form, class => 'form-horizontal'}
	<div class="row">
		<div class="col-md-12 content-header">
			<h1>{$title|translate}</h1>
		</div>

		<div class="col-md-12" n:ifcontent>
			{control flashMessageControl, $flashes}
		</div>

		<div class="col-md-12" n:ifcontent>
			{control formError, $form->getOwnErrors()}
		</div>

		{control page}
	</div>
{/form}
