{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file LICENCE.md that was distributed with this source code.
 *}

<ul class="sidebar-menu">
	<li>
		<a href="{plink Dashboard:default}">
			<i class="fa fa-tachometer"></i>
			{('voonne-admin.dashboard.title'|translate)}
		</a>
	</li>
	{foreach $groups as $group}
	{var $structure = $group->getStructure()}
	<li{foreach $group->getStructure() as $destination => $page}{ifCurrent Content:default, destination => $group->getName() . '.' . $destination} class="active"{/ifCurrent}{/foreach}>
		<a {if empty($structure)}href="#"{else}href="{plink Content:default, destination => $group->getName() . '.' . current($structure)->getPath()}"{/if}>
			<i class="fa fa-{if !empty($group->getIcon())}{$group->getIcon()}{else}circle{/if}"></i>
			{$group->getTitle()|translate}
			<i class="fa fa-chevron-down" n:if="count($structure) > 1"></i>
		</a>

		<ul n:if="count($structure) > 1">
			<li n:foreach="$structure as $destination => $page"{ifCurrent Content:default, destination => $group->getName() . '.' . $destination} class="active"{/ifCurrent} n:if="$page->isVisible()">
				<a href="{plink Content:default, destination => $group->getName()  . '.' . $destination}">{$page->getTitle()|translate}</a>
			</li>
		</ul>
	</li>
	{/foreach}
</ul>
