{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file LICENCE.md that was distributed with this source code.
 *}

<ul class="sidebar-menu">
	<li{ifCurrent Dashboard:default} class="active"{/ifCurrent}>
		<a href="{plink Dashboard:default}">
			<i class="fa fa-tachometer"></i>
			{('voonne-admin.dashboard.title'|translate)}
		</a>
	</li>
	{foreach $groups as $group}
	{var $pages = $group->getPages()}
	<li {foreach $pages as $page}{ifCurrent $group->getName() . '.' . $page->getPageName()} class="active"{/ifCurrent}{/foreach}>
		{php reset($pages)}
		<a {if empty($pages)}href="#"{else}href="{link $group->getName() . '.' . current($pages)->getPageName()}"{/if}>
			<i class="fa fa-{if !empty($group->getIcon())}{$group->getIcon()}{else}circle{/if}"></i>
			{$group->getTitle()|translate}
			<i class="fa fa-chevron-down" n:if="count($pages) > 1"></i>
		</a>

		<ul n:if="count($pages) > 1">
			<li n:foreach="$pages as $page"{ifCurrent $group->getName() . '.' . $page->getPageName()} class="active"{/ifCurrent} n:if="$page->isVisibleInMenu()">
				<a n:href="$group->getName() . '.' . $page->getPageName()">{$page->getPageTitle()|translate}</a>
			</li>
		</ul>
	</li>
	{/foreach}
</ul>
