{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file licence.md that was distributed with this source code.
 *}

<div class="panel">
	<div class="panel-header">
		<h3>{$panel->getTitle()}</h3>
	</div>
	<div class="panel-body">
		{control panel}
	</div>
</div>
