{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file licence.md that was distributed with this source code.
 *}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">

		<title>{ifset $title}{$title|translate} - {/ifset}Voonne</title>

		<link rel="stylesheet" type="text/css" href="{plink :Admin:Assets:Default:default, name => 'styles/admin.css'}">
		<script src="{plink :Admin:Assets:Default:default, name => 'scripts/admin.js'}"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<button type="button" class="navbar-toggle">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">John Smith <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="fa fa-cog"></i> {='voonne-admin.personalSettings'|translate}</a></li>
								<li><a href="#"><i class="fa fa-power-off"></i> {='voonne-admin.signOut'|translate}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="sidebar">
			<a n:href="Default:default" class="logo">Voonne</a>

			<ul class="sidebar-menu">
				<li>
					<a n:href="Dashboard:default">
						<i class="fa fa-tachometer"></i>
						{='voonne-admin.dashboard.title'|translate}
					</a>
				</li>
				<li class="active">
					<a n:href="Custom:default">
						<i class="fa fa-user"></i>
						Users
						<i class="fa fa-chevron-down"></i>
					</a>

					<ul>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
					</ul>
				</li>
				<li>
					<a n:href="Custom:default">
						<i class="fa fa-cogs"></i>
						Settings
						<i class="fa fa-chevron-down"></i>
					</a>

					<ul>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
						<li>
							<a n:href="Custom:default">Test</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="content">
			{include content}
		</div>
	</body>
</html>
