{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file licence.md that was distributed with this source code.
 *}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">

		<title>{ifset $title}{$title|translate} - {/ifset}Voonne</title>

		<link rel="stylesheet" type="text/css" href="{plink :Admin:Api:Assets:default, name => 'styles/sign-in.css'}">
		<script src="{plink :Admin:Api:Assets:default, name => 'scripts/sign-in.js'}"></script>
	</head>

	<body>
	{include content}

	</body>
</html>
