{**
 * This file is part of the Voonne platform (http://www.voonne.org)
 *
 * Copyright (c) 2016 Jan Lavička (mail@janlavicka.name)
 *
 * For the full copyright and license information, please view the file licence.md that was distributed with this source code.
 *}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis nisl at metus commodo lobortis. Phasellus elementum placerat odio et tempor. Nullam sit amet molestie justo, a gravida enim. Donec tristique, augue id ullamcorper dapibus, felis massa eleifend libero, et aliquet mauris orci euismod risus. In ac facilisis metus. Curabitur consequat ultrices mi, hendrerit consequat elit placerat sed. Pellentesque tempor mauris vitae elit auctor porttitor. Aliquam erat volutpat.</p>
